# Local Development Database

# Settings for API server container connecting to database container
# $DOCKER_DB_* settings are from root/.env file
SQL_SERVER_NAME=${DOCKER_DB_SERVER_NAME:?error}
SQL_SERVER_INSTANCE=
SQL_SERVER_PORT=${DOCKER_DB_SERVER_PORT:?error}
SQL_DATABASE_NAME=tdmdev
SQL_USER_NAME=${DOCKER_DB_USER_NAME:?error}
SQL_PASSWORD=${DOCKER_DB_PASSWORD:?error}
SQL_ENCRYPT=true
SQL_TRUST_SERVER_CERTIFICATE=true
