@import url("https://fonts.googleapis.com/css?family=Montserrat:900&display=swap");
@import "./reset.scss";
@import "_variables.scss";
// import scss files below

body {
  background: $color-background;
  font-family: $font;
  -webkit-text-size-adjust: 100%;
  color: #474747;
  overflow-y: scroll;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 140%;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
}

cite {
  font-style: italic;
}

blockquote {
  font-weight: 700;
  background-color: #92cc4e;
  color: #474747;
  padding: 1em 2em;
  margin-bottom: 1em;
  font-size: 1.25em;
  line-height: 1.25em;
}

strong {
  font-weight: bold;
}

code {
  font-family: monospace;
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

a {
  color: blue;
  text-decoration: underline;
  outline: 0;
  cursor: pointer;
}

fieldset {
  border: 1px solid #e0e0e0;
  padding: 1.5em;
  margin: 0;
}

legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

abbr {
  border-bottom: 1px dotted #e0e0e0;
  cursor: help;
  color: #cc4e10;
}

button {
  font-family: $font;
  font-weight: bold;
  font-size: 16px;
}

input,
select,
textarea {
  font-family: $font;
  font-size: 16px;
  margin: 0 1px 0;
}

input[type="checkbox"] {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  padding: 0;
  appearance: none;
  border-radius: 3px;
  border: 1px solid #939393;
  background-color: transparent;

  &:checked {
    background-size: cover;

    border-color: #1967d2;
    background-color: #1967d2;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 12 8" xml:space="preserve"><path style="fill: %23FFFFFF" d="M11.1442 0.201522C11.4011 0.465283 11.3956 0.887356 11.1318 1.14425L4.26907 7.81092C4.00657 8.06658 3.58694 8.06246 3.3295 7.8017L0.192247 4.62393C-0.0664265 4.36191 -0.0637179 3.93981 0.198297 3.68114C0.460312 3.42246 0.882413 3.42517 1.14109 3.68719L3.81313 6.39375L10.2015 0.189085C10.4653 -0.0678075 10.8874 -0.0622392 11.1442 0.201522Z"/></svg>');

    &:hover {
      border-color: #1450a4;
      background-color: #1450a4;
    }

    &:disabled {
      border-color: gray;
      background-color: gray;
    }
  }

  &:hover {
    border-color: #000000;
  }

  &:disabled {
    border-color: gray;
    background-color: gray;
  }
}

// default styles for  links, buttons, etc here?
// import individual scss files below
#root {
  color: $color-primary;
  background-color: $color-background;
}

#ladot-logo {
  margin: 23px;
}

input,
textarea {
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 0.5em 0.65rem;
}

button.link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: white;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

.is-valid {
  border-color: #326e1e;
}

.is-error {
  border-color: #cc2a14;
}

.hide {
  display: none;
}

.center {
  margin: 0 auto;
}

.background-gray {
  background: #e7ebf0;
}

.border-gray {
  border: 1px solid #e7ebf0;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.colorGray {
  color: rgba(15, 41, 64, 0.5);
}

.highlightPage {
  background: #ebeff3;
}

.hoverPointer:hover {
  cursor: pointer;
}

// add any override to the default styles in the individual component styles
@import "./AuthForms.scss"; // Login and Register components
