@font-face {
  font-family: "Calibri";
  src: url("fonts/calibri.eot");
  /* IE9 Compat Modes */
  src: url("fonts/calibri.eot?#iefix") format("embedded-opentype"),
    url("fonts/calibri.woff2") format("woff2"),
    url("fonts/calibri.woff") format("woff"),
    url("fonts/calibri.ttf") format("truetype"),
    url("fonts/calibri.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Calibri Bold";
  src: url("fonts/calibriBold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/calibriBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/calibriBold.woff2") format("woff2"),
    url("fonts/calibriBold.woff") format("woff"),
    url("fonts/calibriBold.ttf") format("truetype"),
    url("fonts/calibriBold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

.auth-form .form-control {
  background-clip: padding-box;
  background-color: white;
  border: 1px solid lightgrey;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #0f2940;
  display: block;
  font-family: "Calibri", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 2.9em;
  line-height: 1.5;
  margin: 0.25em 0;
  padding: 0.7em;
}

.auth-form {
  max-width: 600px;
  min-width: 500px;
}

.auth-form .was-validated .form-control:invalid,
.auth-form .form-control .is-invalid,
.auth-form .invalid-feedback {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  color: red;
}

.auth-form .form-control {
  height: calc(1.5em + 0.75rem + 2px);
  margin: 1rem 0;
  padding: 1.5rem 0.75rem;
  width: 100%;
}
