.tdm-calculation-metrics-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: $color-primary;
  color: $color-background;
}

.tdm-wizard {
  min-height: calc(100vh - 103px - 48px);
  display: flex;
}

@media print {
  .tdm-wizard-sidebar {
    display: none;
  }
}

.tdm-wizard-content-container {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 2em 2em 2em
}

.tdm-wizard-page-title {
  text-align: center;
}

.tdm-wizard-page-subtitle {
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}

@media print {
  #all-buttons-wrapper {
    display: none;
  }
}

.tdm-wizard-pkg-button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: $color-highlight;
  display: inline;
  margin: 0.25em;
  font-weight: normal;
  font-size: 1em;
  box-shadow: 0px 4px 2px rgba(0, 46, 109, 0.3);
  text-align: center;
  border: 0;
  border-radius: 0;
}

.tdm-results-panel {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: $color-background;
  flex: 1;
  align-items: center;
}

.tdm-divider {
  border: none;
  border-top: 3px dotted #e7ebf0;
  width: 100%;
}

.tdm-calculation-metrics-panel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  margin: 0;
  padding: 0.5em;
  background-color: transparent;
  color: $color-background;
}

.tdm-wizard-review-page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 60vw;
  max-width: 600px;
}

@media (max-width: 768px) {
  .tdm-results-panel {
    top: 0;
  }
}
