.landing-page-end-container {
    background-color: $color-background;
    padding-top: 6em;
    padding-bottom: 6em;
}

.landing-page-end-center-text {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    padding-top: 1em;
    padding-bottom: 1em;
}