.landing-page-container {
    background-color: $color-background;
    padding-top: 6em;
    padding-bottom: 6em;
}

.landing-page-center-text {
    text-align: center;
    margin: 0 auto;
    width: 45%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.intro-icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-icon-item {
    margin: 1em 3em;
}