// font family is dictated by the LADOT style guide
$font: Calibri, Arial, sans-serif;

// colors from the LADOT style guide

$primary-color: #002e6d; // LADOT Blue
$secondary-color: black;
$background-color: white;

// Great Streets
$color-great-streets: #6699d1;
// Safety
$color-safety: #e46247;
// Livable and Sustainable
$color-livable: #97c73f;
// A Well-Run City: 21st Century Department
$color-21st-century: #f4984f;
// A Well-Run City: Customer Service
$color-customer-service: #ab567a;

// Transit
$color-transit-1: #00447c;
// Transit 2
$color-transit-2: #a7c539;

// Bicycle
$color-bicycle-1: #000;
$color-bicycle-2: #aed68f;
$color-bicycle-3: #105640;

// Vision Zero
$color-vision-zero-1: #ef3742;
$color-vision-zero-2: #000;

// People St
$color-people-st: #0064ab;

// LA Express Park
$color-express-park-1: #005596;
$color-express-park-2: #56a0d3;
$color-express-park-3: #00447c;
$color-express-park-4: #0073ae;
$color-express-park-5: #002d56;
$color-express-park-6: #aee0e8;
$color-express-park-7: #003660;
$color-express-park-8: #fdb525;
$color-express-park-9: #fee014;
$color-express-park-10: #eb6928;

// Commuter Express
$color-commuter-express-1: #00447c;
$color-commuter-express-2: #80a1b6;
$color-commuter-express-3: #b8cbd9;

// DASH
$color-dash-1: #00447c;
$color-dash-2: #780032;
$color-dash-3: #bcbec0;
