# build and push a docker image from the latest push to "develop" branch
on:
  push:
    branches:
      - experimental
      - develop
      - main
  release:
    types:
      - published
jobs:
  tdmapp:
    runs-on: ubuntu-latest
    name: build & push image
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: build-and-push-image
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: tdmcalc/tdmapp
          dockerfile: ./Dockerfile
          tag_with_ref: true
          tag_with_sha: true
          add_git_labels: true
          labels: description="TDM Calculator",maintained="tdm+cicd@hackforla.org"
