# build and push a docker image from the latest push to "develop" branch
on:
  push:
    branches:
      - develop
  release:
    types:
      - published
jobs:
  tdmapp:
    runs-on: ubuntu-latest
    name: build & push image
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/tdmapp/flub
